.left-section{
    width: 5%; /* Reduced width */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .button {
    background-color: rgba(107, 114, 128, 0.5);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* width:50px; */
  }
  .button-big {
    background-color:rgba(255, 140, 0, 1);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* width:70px; */
  }
  
  .button:hover {
    background-color: rgba(107, 114, 128, 0.7);
  }
  
  .icon-button {
    font-size: 1.5rem; /* Scale the entire button */
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .icon-button-b {
    font-size: 2rem; /* Scale the entire button */
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .bot-image {
    width: 100%;
    height: auto;
  }