/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background-color: black;
}

.right-section {
  width: 10%; /* Reduced width */
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-section {
  flex: 1;

  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.center-section::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Hide scrollbar for Firefox */
.center-section {
  scrollbar-width: none; /* Hides the scrollbar */
}


.navbar {
  background-color: rgba(107, 114, 128, 0.5);
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.nav-item {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #f3f4f6; /* Change to a lighter color on hover */
}

.container-box-center {
  background-color: rgba(107, 114, 128, 0.5);
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  height: 90vh; /* Adjust height to fill space */
}
.container-box-right{
  background-color: rgba(107, 114, 128, 0.5);
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  height: 200vh; /* Adjust height to fill space */
  color: #f3f4f6;
}

.container-box-right-profile{
  background-color: rgba(107, 114, 128, 0.5);
  border-radius: 10px;
  height: 10vh; /* Adjust height to fill space */
  color: #f3f4f6;
}

.news-ribbon {
  background-color: #f1c40f;
  color: #f30303;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

